img.post{
	width:100%;
	max-width:300px;
	min-width: 150px;
	max-height: 300px;
}
body{
	background-color:#EEF2FF;
}
div.postreply{
	width: 70%;
	background-color: #b7c5d9;
	border-spacing:0;
	color: #000;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
}
div.op{
	 position:relative;
 	 top:-5px;
	 vertical-align: super;
	 border-spacing:0;
	 color: #000;
	 font-family: arial,helvetica,sans-serif;
	 font-size: 10pt;
}
div.postfront{
	background-color: #b7c5d9;
	border-spacing:0;
	color: #000;
	font-family: arial,helvetica,sans-serif;
	font-size: 12pt;
	margin: 5px;
	padding: 3px;
}
div.latest {
	width: 330px;
	margin-top: 10px;
	border: 1px solid #006;
	padding: 0;
	float: right;
	background: #eef;
}
div.boxes{
    max-width: 670px;
    min-width: 332px;
    margin: 30px auto;
    overflow: auto;
    padding: 0;

}
div.stats {
	width: 330px;
	border: 1px solid #006;
	margin-top: 10px;
	padding: 0;
	float: right;
	background: #eef;
}
span.quote{
	vertical-align:top; 
	font-size: 10pt;
	color: #789922;
}
span.admin{
	color: #FF0000;
	font-weight: 700;
	vertical-align:top; 
	font-size: 10pt;
}
div.latestImages {
	width: 330px;
	margin-top: 10px;
	border: 1px solid #060;
	padding: 0;
	float: left;
	background: #efe;
} 
div.desc {
    max-width: 670px;
    min-width: 332px;
    margin: 30px auto;
}
img.header {
    display: block;
    margin: 0 auto;
	max-height: 257px;
}
span.name {
	color: #117743;
	font-weight: 700;
	vertical-align:top; 
	font-size: 10pt;
}
span.frontname {
	color: #117743;
	font-weight: 700;
	vertical-align:top; 
	font-size: 12pt;
}
span.frontquote{
	vertical-align:top; 
	font-size: 12pt;
	color: #789922;
}
span.text{
	vertical-align:top; 
	font-size: 10pt;
}
span.fronttext{
	vertical-align:top; 
	font-size: 12pt;
}
span.imagedesc{
	vertical-align:top;
	font-size: 8pt;
}
td.info{
	vertical-align:top;
}
h1.header{
	text-align: center;
	font-family: arial,helvetica,sans-serif;
}
ul.postlist{
	list-style: none;
}

h2.latestheader{
	background: #5699AA;
	color: #FFFFFF;
	padding: 2px;
	vertical-align: top;
	font-family: arial,helvetica,sans-serif;
}
h2.latestimageheader{
	color: #FFFFFF;
	vertical-align: top;
	background: #060;
	padding: 2px;
	font-family: arial,helvetica,sans-serif;
}
h2.frontheader{
	color: #AF0A0F;
	text-align: center;
	padding: 2px;
	font-family: arial,helvetica,sans-serif;
}
h3.frontheader{
	color: #AF0A0F;
	text-align: center;
	padding: 2px;
	font-family: arial,helvetica,sans-serif;
}
h4.headline{
    text-align: center;
    padding: 2px;
    font-family: arial,helvetica,sans-serif;
}
a.latest {
	text-decoration: none;
}
img.front{
	max-width: 280px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 8px;
	max-height: 300px;
}
div.latest {
	width: 330px;
	margin-top: 10px;
	margin-right: 30%;
	border: 1px solid #006;
	padding: 0;
	float: right;
	background: #eef;
}
h5.desc{
    text-align: center;
    padding: 2px;
    font-family: arial,helvetica,sans-serif;
}
video.post{
	max-width: 200px;
	max-height: 300px;
}
video.front{
	max-width: 280px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 8px;
	max-height: 300px;
}